{% extends "base.html" %}

{% block content %}

<header class="container">
    <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '/';">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/artists">By Artists</a></li>
          <li><a href="url_for('list_artist_albums', artist_name=artist_name)">{{ artist_name }}</a></li>
        </ul>
    </nav>
</header>

<div class="container">
  <h1 style="margin-bottom: 60px">Albums of <span style="color: rgb(84, 139, 201);">{{ artist_name }}</span></h1>

{% for album_group in albums|batch(2) %}
  <div class="grid">
    {% for album in album_group %}
      <article><a href="{{ url_for('album_tracklist', artist_name=artist_name, album_name=album[0]) }}">{{ album[0] }}</a></article>
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}
