<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <title>Musics Embeddings</title>
  </head>
  <body>
    <!-- <header class="container">

        <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '/';">
            <ul>
              <li><a href="/">Home</a></li>
                <li><a href="/artists">By Artists</a></li>
            </ul>
          </nav>
    </header> -->

    <main>
      {% block content %}
      <!-- ##################
             ##################
             ################## -->
      {% endblock %}
    </main>

    <footer class="container">
      <p>© 2020 - Musics Embeddings</p>
    </footer>
  </body>
</html>
