{% extends "base.html" %}

{% block content %}

<header class="container">

  <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '/';">
      <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/artists">By Artists</a></li>
          <li><a href="{{ url_for('list_artist_albums', artist_name=artist_name) }}">{{ artist_name }}</a></li>
          <li><a href="{{ url_for('album_tracklist', artist_name=artist_name, album_name=album_name) }}">{{ album_name }}</a></li>
      </ul>
    </nav>
</header>

<div class="container">
  <h1 style="margin-bottom: 60px">Tracklist of <span style="color: rgb(84, 139, 201);">{{ album_name }}</span> by <span style="color: rgb(84, 139, 201);">{{ artist_name }}</span></h1>

  {% for track in tracklist %}
  <div>
    <p><a href="{{ url_for('similar_songs', full_path=track[2]) }}">{{ track[1] }}</a></p>
  </div>
  {% endfor %}
</div>

{% endblock %}