<!DOCTYPE html>
<html>
  <head>
    <title>Flask - S3 Bucket</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css"
    />
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <h1><strong>Flask - S3 Bucket</strong></h1>
          </li>
        </ul>
        <ul>
          <li><a href="{{url_for('list_files')}}">list_all_mp3_files</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    <!-- ########################################## -->
    {% endblock %}
  </body>
</html>
