{% extends "base.html" %} {% block content %}

<main class="container">
  <h3>Référence</h3>
  <article style="margin-top: 50px">
    <div class="grid">
      <strong>{{query_path }}</strong>
      <strong>{{ query_artist }}</strong>
      <strong>{{ query_title }}</strong>
      <strong>{{ query_album }}</strong>
      <strong>{{ query_top3_genres }}</strong>
    </div>
  </article>

  <h3>Recommendations <span style="font-size: 70%;">embedding 512</span></h3>
  <article style="margin-top: 50px">
    <table class="overflow-auto">
      <thead>
        <tr>
          <th scope="col">Band</th>
          <th scope="col">Artist</th>
          <th scope="col">Album</th>
          <th scope="col">Title</th>
          <th scope="col">Top 3 Genres</th>
        </tr>
      </thead>
      <tbody>

        {% for recommendation in list_of_recommendations %}
        <tr>
          <td>{{ recommendation[0] }}</td>
          <td>{{ recommendation[1] }}</td>
          <td>{{ recommendation[2] }}</td>
          <td><strong>{{ recommendation[3] }}</strong></td>
          <td><span style="font-size: 70%;">{{ recommendation[4] }}</span></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </article>
</main>

{% endblock %}
